{% extends 'pages/layout.html' %}

{% block content %}

<form method = 'POST' action = '/new_book/'>
    {% csrf_token %}
    <input name ='title' required/>
    <select name = 'genre' required>
        <option value = "Academic">Academic</option>
        <option value = "Horror">Horror</option>
        <option value = "History">History</option>
    </select>
    <fieldset name= 'authors' required>
        <label for = 'Francisco'> Francisco</label>
        <input type="checkbox" value = "Francisco" name = 'Francisco' />

        <label for = "Adam">Adam</label>
        <input type="checkbox" value = "Adam" name = "Adam"/>

        <label for = "Skyler">Skyler </label>
        <input type="checkbox" value = "Skyler" name = "Skyler" />
    </fieldset>
    <input type = 'number' max = 5 min = 1 name = 'quantity' required />
    <input type = 'submit' />
</form>

{% endblock content %}