{% extends 'pages/layout.html' %}

{% block content %}
    <h2>Books</h2>

{% for book in  books%}
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            {% if nested %}

                <h4 class="card-title"><a href= "/book/{{book.book.id}}/">{{book.book.title}}</a></h4>
                {% for author in book.authors  %}
                    <h5><a href="/author/{{author.id}}/">{{author.first_name}} {{author.last_name}}</a></h5>
                {% endfor %}
                <p class="card-text"><a href="/genre/{{book.book.genre.id}}/">{{book.book.genre.title}}</a></p>
                <p class="card-text">{{book.book.quantity}}</p>
                <button onclick = "alterBookQuantity({{book.book.id}}, {{book.book.quantity}}, 'A') ">Return</button>
                <button onclick = "alterBookQuantity({{book.book.id}}, {{book.book.quantity}}, 'S') ">Checkout</button>
                <button onclick = "deleteABook({{book.book.id}})">delete</button>

            {% else %}

                <h4 class="card-title"><a href= "/book/{{book.id}}/">{{book.book.title}}</a></h4>
                <p class="card-text"><a href="/genre/{{book.genre.id}}/">{{book.genre.title}}</a></p>
                <p class="card-text">{{book.quantity}}</p>
                <button onclick = "alterBookQuantity({{book.id}}, {{book.quantity}}, 'A') ">Return</button>
                <button onclick = "alterBookQuantity({{book.id}}, {{book.quantity}}, 'S') ">Checkout</button>
                <button onclick = "deleteABook({{book.id}})">delete</button>

            {% endif %}
            
            
        </div>
    </div>

{% endfor %}
    
{% endblock content %}