{% extends 'pages/layout.html' %}

{% block content %}
    <h2>{{title}}</h2>

{% for book in  books%}
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">{{book.title}}</h4>
            <p class="card-text">{{book.genre.title}}</p>
            <p class="card-text">{{book.quantity}}</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
    </div>

{% endfor %}
    
{% endblock content %}